@{ ViewBag.Title = "LoggedIn"; }

@if (Session["Email"] != null)
{
    <h4>Hello @Session["Email"].ToString()</h4>}

<div>@Html.ActionLink("Back to List", "Index", "Account", new { area = "" }, new { @class = "navbar-brand", style = "color: Red" })</div>
