@model WebApplication1.Models.Registration

@{
    ViewBag.Title = "LoggedIn";
}

@if (Session["Email"] != null)
{
    <h4>Hello @Session["Email"].ToString()</h4>
}

<div>
    @Html.ActionLink("Back to List", "Index", "RAccount")
</div>
<div>@Html.ActionLink("Logout", "Logout", "RAccount")</div>